@{
  Layout = "_Layout";
  ViewData["Title"] = "@Model.CurrentTutor.Name";
  
}
<div class="container">
    <div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-7">
                <span class="card-title detail-header">@Model.CurrentTutor.FirstName @Model.CurrentTutor.LastName</span>&nbsp;&nbsp;
                @if (!Model.CurrentTutor.Credential)
                {
                    <i data-toggle="tooltip" data-placement="right" title="Licensed Teacher" class="fas fa-id-card-alt detail-icon"></i>
                }
            </div>
            <div class="col">
                <div class="float-right">
                    <a href="/tutors/@Model.CurrentTutor.Id/specialties" class="btn btn-sm btn-outline-warning inline">Make Appointment</a>
                    <a href="/tutors/@Model.CurrentTutor.Id/specialties" class="btn btn-sm btn-outline-primary inline">Add Specialties</a>
                    <a href="/tutors/@Model.CurrentTutor.Id/update" class="btn btn-sm btn-outline-info">Update</a>
                    <a href="/tutors/@Model.CurrentTutor.Id/specialties" class="btn btn-sm btn-outline-danger">Delete</a>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-5">
                <h5 class="detail-subheader">Email</h5>
                    <a href="mailto:@Model.CurrentTutor.Email" class="detail-info">@Model.CurrentTutor.Email</a>
                    <br>
                    <br>
                    <h5 class="detail-subheader">Phone</h5>
                    <a href="tel:@Model.CurrentTutor.PhoneNumber" class="detail-info">@Model.CurrentTutor.PhoneNumber</a>
            </div>
            <div class="col">
                <h5 class="detail-subheader inline">Specialties</h5><br>
                @foreach (var specialty in Model.CurrentTutor.GetSpecialties())
                {
                    <span class="detail-info"> @specialty.Subject | </span>
                }
                <br>
                <br>
                <div class="row">
                    <div class="col">
                        <h5 class="detail-subheader">Rate</h5>
                        <span class="detail-info">$@Model.CurrentTutor.Rate.ToString("0.00")</span>
                    </div>
                    <div class="col">
                        <h5 class="detail-subheader inline">Availability</h5><br>
                        <span class="detail-info">@Model.CurrentTutor.Availability</span>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</div>
