@{
  Layout = "_Layout"; 
}
<div class="container">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <span class="card-title detail-header">@Model.CurrentTutor.FirstName @Model.CurrentTutor.LastName</span>&nbsp;&nbsp;
                    @if (Model.CurrentTutor.Credential)
                    {
                        <i data-toggle="tooltip" data-placement="right" title="Licensed Teacher" class="fas fa-id-card-alt detail-icon"></i>
                    }
                    <br>
                </div>
                <div class="col-3">
                        <a href="/tutors/@Model.CurrentTutor.Id/update" class="btn btn-sm btn-outline-info">Update Info</a>
                        <a href="/tutors/@Model.CurrentTutor.Id/delete" class="btn btn-sm btn-outline-danger">Delete Tutor</a>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <h5 class="detail-subheader">Email</h5>
                    <div class="underline">
                        
                    </div>                    
                    <a href="mailto:@Model.CurrentTutor.Email" class="detail-info">@Model.CurrentTutor.Email</a>
                </div>
                <div class="col">
                    <h5 class="detail-subheader">Phone</h5>
                    <div class="underline">
                        
                    </div>                    
                    <a href="tel:@Model.CurrentTutor.PhoneNumber" class="detail-info">@Model.CurrentTutor.PhoneNumber</a>
                </div>
                <div class="col">
                    <h5 class="detail-subheader">Rate</h5>
                    <div class="underline">
                        
                    </div>                    
                    <span class="detail-info">$@Model.CurrentTutor.Rate.ToString("0.00") / hour</span>
                </div>
                <div class="col">
                    <h5 class="detail-subheader inline">Availability</h5><br>
                    <div class="underline">
                        
                    </div>                    
                    <span class="detail-info">@Model.CurrentTutor.Availability</span>
                </div>
            </div> 
            <br>
            <br>
            <div class="row">
                <div class="col-4">
                    <h5 class="detail-subheader inline">Specialties</h5><a href="/tutors/@Model.CurrentTutor.Id/specialties" class="btn btn-sm btn-outline-primary float-right inline">Manage Specialties</a>
                    <div class="underline">
                        
                    </div>                    
                    <ul class="list-group list-group-flush">
                        @foreach (var specialty in Model.CurrentTutor.GetSpecialties())
                        {
                        <li class="list-group-item">@specialty.Subject</li>
                          
                        }    
                    </ul>
                </div>
                <div class="col-4">
                    <h5 class="detail-subheader inline">Clients</h5><a href="/tutors/@Model.CurrentTutor.Id/clients" class="btn btn-sm btn-outline-primary float-right inline">Manage Clients</a>
                    <div class="underline">
                        
                    </div>                    
                    <ul class="list-group list-group-flush">
                        @foreach (var client in Model.CurrentTutor.GetClients())
                        {   
                            <li class="list-group-item"><a href="/clients/@client.Id" class="inline">@client.LastName, @client.FirstName</a>
                                <div class="float-right">
                                    <a href="mailto:@client.Email" class="btn btn-sm btn-outline-warning inline">Email</a>
                                    <a href="sms:@client.PhoneNumber" class="btn btn-sm btn-outline-info inline">Text</a>
                                    <a href="tel:@client.PhoneNumber" class="btn btn-sm btn-outline-success inline">Call</a>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
