@{
  Layout = "_Layout"; 
}
<div class="container">
    <h1 class="centered">Client Details</h1>
    <div class="card">
        <div class="card-body">
                <div class="inline">
                    <span class="card-title detail-header">@Model.CurrentClient.FirstName @Model.CurrentClient.LastName</span>                 
                </div>
                <div class="inline float-right">
                    <a href="/clients/@Model.CurrentClient.Id/update" class="btn btn-sm btn-outline-info">Update Info</a>
                    <button type="button" class="btn btn-outline-danger btn-sm" data-toggle="modal" data-target="#deleteClient">
                        Delete Client
                    </button>
                    <div class="modal fade" id="deleteClient" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Delete Client</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="alert alert-danger" role="alert">
                                        <strong>Warning!</strong> Deleting a client cannot be undone.
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <form method="post" action="/clients/@Model.CurrentClient.Id/delete">
                                        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
                                        <button type="submit" class="btn btn-outline-danger">Delete</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <br>
            <br>
            <div class="row">
                <div class="col-4">
                    <h5 class="detail-subheader">Email</h5>
                    <div class="underline">
                        
                    </div>                    
                    <a href="mailto:@Model.CurrentClient.Email" class="detail-info">@Model.CurrentClient.Email</a>
                </div>
                <div class="col-3">
                    <h5 class="detail-subheader">Phone</h5>
                    <div class="underline">
                        
                    </div>                    
                    <a href="tel:@Model.CurrentClient.PhoneNumber" class="detail-info">@Model.CurrentClient.PhoneNumber</a>
                </div>
                <div class="col">
                    <h5 class="detail-subheader">Address</h5>
                    <div class="underline">
                        
                    </div>                    
                    <a href="http://maps.google.com/?q=@Model.CurrentClient.StreetAddress, @Model.CurrentClient.City, @Model.CurrentClient.State @Model.CurrentClient.Zip" class="detail-info">@Model.CurrentClient.StreetAddress, @Model.CurrentClient.City, @Model.CurrentClient.State @Model.CurrentClient.Zip</a></span>
                </div>
            </div> 
            <br>
            <br>
            <div class="row">
                <div class="col-4">
                    <h5 class="detail-subheader inline">Needs</h5><a href="/clients/@Model.CurrentClient.Id/needs" class="btn btn-sm btn-outline-primary float-right inline">Manage Needs</a>
                    <div class="underline">
                        
                    </div>
                    <ul class="list-group list-group-flush">
                        @foreach (var specialty in Model.CurrentClient.GetNeeds())
                        {
                        <li class="list-group-item">@specialty.Subject</li>
                          
                        }
                    </ul>
                </div>
                <div class="col-4">
                    <h5 class="detail-subheader inline">Tutors</h5><a href="/clients/@Model.CurrentClient.Id/tutors" class="btn btn-sm btn-outline-primary float-right inline">Manage Tutors</a>
                    <div class="underline">

                    </div>
                    <ul class="list-group list-group-flush">
                        @foreach (var tutor in Model.CurrentClient.GetTutors())
                        {
                            <li class="list-group-item"><a href="/tutors/@tutor.Id" class="inline">@tutor.LastName, @tutor.FirstName</a>
                                <div class="float-right">
                                    <a href="mailto:@tutor.Email" class="btn btn-sm btn-outline-warning inline">Email</a>
                                    <a href="sms:@tutor.PhoneNumber" class="btn btn-sm btn-outline-info inline">Text</a>
                                    <a href="tel:@tutor.PhoneNumber" class="btn btn-sm btn-outline-success inline">Call</a>
                                </div>
                            </li>
                        } 
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

